.group:hover {
    transition: all 0.3s ease-in-out;
    transform: translateY(5px), translateZ(5px);
    box-shadow: 0 0 0.2rem #f7f9fa;
}

/* animated user header artikel */
.animate-fancy-gradient {
    animation: fancy-gradient 8s ease-in-out infinite;
    background: linear-gradient(
        120deg,
        #b05cb0,
        #fcb16b,
        #6bfcac,
        #fcb16b,
        #b05cb0
    );
    background-size: 300% 300%;
    border-radius: 10px;
}
@keyframes fancy-gradient {
    0% {
        background-position: 0% 0%;
        background-size: 300% 300%;
    }
    25% {
        background-position: 50% 50%;
        background-size: 250% 250%;
    }
    50% {
        background-position: 100% 0%;
        background-size: 300% 300%;
    }
    75% {
        background-position: 50% 100%;
        background-size: 200% 200%;
    }
    100% {
        background-position: 0% 0%;
        background-size: 300% 300%;
    }
}

.login-invitation {
    background-color: rgba(24, 24, 24, .3);
    position: relative;
    top: -85px;
    padding-top: 100px;
    backdrop-filter: blur(2px);
}
